<!DOCTYPE html>
<html>
<head>
    <title>Cloud Storage</title>
</head>
<body>
    <h1>Cloud Storage Application</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
    </form>

    <form action="/download" method="POST">
        <input type="text" name="filename" placeholder="Enter filename" required>
        <input type="submit" value="Download">
    </form>
</body>
</html>